---
layout: default
---

{% if page.url == "/" %}
    {% for post in site.math.tags.pinned %}
          <article class="post">
            <p class="pinned-article"><b>📌 Pinned Article</b></p>

            <h1>
                <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>

            <div class="entry">
                <p>
                    {{ post.excerpt }}
                </p>
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
                Read More
            </a>
          </article>
    {% endfor %}
{% endif %}

<div class="posts">
  {% for post in site.math %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>